<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Test Suite" verbose="2" parallel="false" thread-count="1">

    <listeners>
        <!-- Custom listener to capture TestNG events for reporting -->
        <listener class-name="com.learn.auto.listener.TestListener" />
        <!-- Allure listener to generate test result files -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="Login Test With Valid Credentials" preserve-order="true">
        <classes>
            <class name="com.learn.auto.tests.LoginTest">
                <methods>
                    <!-- Optional: Specify specific test methods -->
                    <include name="testLogin" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Login Test With Locked Credentials" preserve-order="true">
        <parameter name="username" value="locked_out_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
            <class name="com.learn.auto.tests.LoginTest">
                <methods>
                    <!-- Optional: Specify specific test methods -->
                    <include name="testLoginWithLockedCredentials" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Product Catalog Test" preserve-order="true">
        <classes>
            <class name="com.learn.auto.tests.ProductCatalogTest" />
        </classes>
    </test>
</suite>
